h2 {
    color: rgb(235, 231, 19);
}

body{
    margin-left: 280px;
    margin-right: 280px;
    font-family: Arial, sans-serif;
    background-color: #6f6d72;
}
div{
    color: white;
    font-size: 18px;
}
div2{
    color: rgba(255, 255, 255, 0.801);
    width: 1000px;
    font-size: 14.5px;
}
p{
    margin-top: 1px;
    font-size: 13.68px;
    color: white;
}
h4{

}
li{
    color: white;
    font-size: 14px;
}

img{
    width: 248px;
}