body{
   
    font-family: Arial, sans-serif;
    background-color: #6f6d72;
    background: url(http://www.phimmoi.net/styles/vtlai/movie/img/body_bg.gif) #6f6d72;
}
a{
    color: #FF8040;
    text-decoration: none;
}
a.tag1{
    font-size: 15px;
    padding-left: 300px;
    padding-top: 20px;
    color: white;
}
a.tag{
    padding-left: 15px;
    font-size: 15px;
    padding-top: 20px;
    color: white;
}
div.head1{
    width: 100%;
    background-color: #3c3c41;
    padding-top: 12px;
    padding-bottom: 13px;
}
div.head{
    display: inline;
    margin-left: 280px;
    margin-right: 280px;
    display: flex;
    
}
img.logo{
  
}
form{
    display: flex;
}
div.fa.fa-search{
    color:rgb(7, 57, 167);
    margin-top: 19.5px;
    margin-left: -28px;
}
input{
    width: 320px;
    height: 37px;
    margin-left: 30px;
    margin-top: 10px;
    color: #9f9f9f;
    background-color: #303137;
    box-sizing: border-box;
    border: 1px;
    border-radius: 100px;
    outline: none;
    padding: 12px 14px;
    display: inline-block;
}
img.login{
    margin-left: 39px;
    margin-top: 8px;
    height: 40px;
}
hr.so1{
   
}
div.notice{
    margin-left: 280px;
    margin-right: 280px;
    color: rgba(255, 255, 255, 0.801);
    font-size: 14.5px;
    border: 1px solid rgb(245, 209, 3);
    background-color: black;
    height: 50px;
    padding: 11px;
    padding-bottom: 0px;
    
}
h3.mot {
    margin-left: 280px;
    margin-right: 280px;
    color: rgb(235, 231, 19);
    height: 9px;
}
li{
    color: white;
    font-size: 14px;

}
div.menu{
    background: #2f2f30;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    height: 50px;
    border-top: 3px solid rgb(245, 209, 3);  
}
ul.menungang{
    width: 950px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    list-style: none;  
}
ul.menungang a{
    display: inline;
    padding: 16px 7px 15px 7px;
    transition: 0.2s;
}
ul.menungang a:hover{
    color: rgb(243, 239, 3);
    background-color: #1c1c1d94;
}
ul.theloai{
    list-style: none;
}
div.hot{
    margin-left: 280px;
    margin-right: 280px;
    margin-bottom: -50px;
    height: 300px;
    width: 932px;
    display: flex;
    border-bottom: 1px solid rgb(170, 159, 159);
    padding-top: 13px;  
    background-color: #18181a;
}
div.hotli{
    display: inline;
    margin-left: 15px;
    width: 214px;
}
img.hot{
   width: 100%;
}
div.name{
    display: block;
    background: #252527e5;
   }
p.viname{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 200px;
    font-size: 14px;
    margin-top: -60px;
    margin-bottom: 2px;
}
div.hot a:hover{
    color: rgb(243, 239, 3);
}
p.enname{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 200px;
    font-size: 13.68px;
    color: white;
    margin-top: 4px;
}

div.danhsach{
    margin-top: 66px;
    margin-left: 13px;
    margin-bottom: -18px;

}
ul.danhsachnho{
    display: flex;
    background-color: #18181a;
    padding: 10px;
    list-style: none;
    width: 355px;
    margin-bottom:0px;
    
}
ul.danhsachnho a{
    color: #a7a1a1;
    font-size: 16px;
    margin-left: 7px;
    margin-right: 22px;
    margin-top: 7px;
    margin-bottom: 7px;
}
ul.danhsachnho a:hover{
    color: #dfd7d7;
    font-size: 16px;
    margin-left: 7px;
    margin-right: 22px;
    margin-top: 7px;
    margin-bottom: 7px;
}
ul.danhsachmain{
    width: 375px;
    margin-top: 0px;
    margin-left: 0px;
    display: inline-block;
    background-color: #18181a;
    padding: 0;
    padding-bottom: 17px;
}
li.danhsachphim1{
    width: 355px;
    background-color: #18181a;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    margin-top: 0px;
    margin-bottom: 0px;
    border: 0px;
    border-bottom: 1px solid rgba(230, 225, 216, 0.459);
    border-style: dashed;
}

li.danhsachphim{
    width: 355px;
    background-color: #18181a;
    display: flex;
    border: 0px;
    border-bottom: 1px solid rgba(230, 225, 216, 0.459);
    border-style: dashed;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 0px;
}

ul.danhsachmain a{
    width: 300px;
    margin-top: 10px;
    display: flex;
    color: #dfd7d7;
    font-size: 13px;
}
ul.danhsachmain a img{
    width: 35px;
    height: 35px;
}
div.ten{
    margin-left: 9px;
}
ul.danhsachmain a p.tento{
   
    margin-top: 0;
}
ul.danhsachmain a:hover{
    width: 300px;
    margin-top: 10px;
    display: flex;
    color: #d8b909;
    font-size: 13px;
}
ul.danhsachmain a img:hover{
    width: 35px;
    height: 35px;
    filter: opacity(65%);
}
p.thoigian{
    color: #dfd7d7b0;
    font-size: 12px;
    width: 55px;

}

ul.danhsachmain a p.tennho{
    color: #9f9f9f;
    font-size: 12px;
    margin-top: -7px;
}





div.hotM{
    display: inline;
    border: 0px;
    border-top: 1px solid rgb(170, 159, 159);
    padding-top: 5px;
    border-style: groove;
}
div.subhotM1{
    width: 644px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    border: 0;
    border-top: 2px solid rgba(120, 124, 124, 0.274);
    border-style: groove;
    padding-top: 5px;
}
div.subhotM{
    width: 644px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    margin-bottom: 30px;
}
div.hotliM{
    background: #252527e5;
    padding: 3px;
    margin-right: 0px;
    margin-left: 0px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.404);
}
img.hotM{
    width: 150px;
}
p.vinameM{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 120px;
    font-size: 12px;
    margin-top: 3px;
    margin-bottom: 1px;
}
div.hotM a:hover{
    color: rgb(243, 239, 3);
}
p.ennameM{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 120px;
    font-size: 11px;
    color: white;
    margin-top: 2px;
}
p.ennameM:hover{
    color: rgb(243, 239, 3);
}
div.master{
    margin-left: 280px;
    margin-right: 280px;
    display: flex;
}
h3{
    color: rgb(235, 231, 19);
    height: 9px;
}
div.hotbranch{
    display: inline;
}
div.subbranch{
    width: 35%;
    margin-top: 50px;
    margin-left: 40px;
    display: inline;
}
div.headphai{
    display: flex;
}
.headphai p{
    color: rgb(235, 231, 19);
    height: 9px;
    font-size: 16px;
}

.headphai img{
    margin-top: 10px;
    margin-right: 7px;
    
    width: 30px;
    height: 30px;
}
b.phimdanhdau{
    display: block;
    width: 230px;
    font-size: 15px;
    color: #c0b9b9;
    margin-top: 10px;
    background-color: #18181a;
    padding: 9px;
    border-radius: 4px;
}
b.phimdanhdau:hover{
    font-size: 15px;
    color: #e7dfdf;
}
img.fb{
    display: block;
    width: 250px;
    margin-top: 10px;

}









div.foot{
    margin-top: 60px;
    display: flex;
    border-top: 3px solid rgb(255, 187, 0);
    background-color: #18181a;
    padding-left: 280px;
    padding-right: 280px;
    padding-top: 20px;
    padding-bottom: 20px;
}
div.foot img{
    height: 40px;
}
ul{
    list-style: none;
}
ul.list p{
    color: rgb(0, 217, 255);
    margin-bottom: 25px;
}
ul.list a{
    display: block;
    color: whitesmoke;
    font-size: 12px;
    margin-top: 12px;
}
ul.list a:hover{
    display: block;
    color: #d8b909;
    font-size: 12px;
    margin-top: 12px;
}
li.dam{
    display: block;
    font-size: 12.5px;
    margin-top: 9px;
}
li.nhat{
    display: block;
    font-size: 11.5px;
    margin-top: 9px;
}